.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-control {
  margin-top: 70px;
}
.form-control label {
  font-weight: bold;
  margin-left: 60px;
  font-size: 20px;
  display: inline;
}

.form-control input,
.form-control select {
  width: 5rem;
  margin-right: 25px;
  display: inline;
}

.form-control {
  text-align: left;
}

.form-control span {
  font-weight: bold;
  font-size: 20px;
}

.form-control button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
}
